@page "/calculator"
@rendermode InteractiveAuto

<PageTitle>Calculator</PageTitle>

<div class="main">

    @if (calculated == false)
    {
        <h3>Calculate Feeding Volumes</h3>

        <div>
            <form>
                <ul>
                    <li><label>Patient name:<input @bind=data.PatientName></input></label></li>
                    <li>
                        <label>Species:
                                @foreach (string species in speciesSelection)
                                {
                                    <label>@species<radio Name="species" value="@species"></radio></label>
                                }
                        </label>
                    </li>
                    <li><label>Body weight:<input @bind="data.BodyWeight" min="0" max="200"></input></label>kg</li>
                    <li><label>Name of diet to be fed:<input @bind=data.DietName></input></label></li>
                    <li><label>Kcal per gram:<input @bind=data.KcalPerG min="0" max="10"></input></label></li>
                    <li><label>Net weight per container (g or ml):<input @bind=data.DietNetWeight min="0" max="1000"></input></label></li>
                    <li><label>Moisture content (%):<input @bind=data.DietWaterPercentage min="0" max="100"></input></label></li>
                    <li><label>Number of days to re-feed over (enter "1" if starting at full RER):<input @bind=data.Days min="1" max="10"></input></label></li>
                    <li><input type="submit" value="Calculate" disabled=@calculating /></li>
                </ul>
            </form>
        </div>

        @* <div>
            <EditForm Model="data" OnSubmit="ProcessData">
                <ul>
                    <li><label>Patient name:<InputText @bind-Value=data.PatientName></InputText></label></li>
                    <li><ValidationMessage For="@(() => data.PatientName)" /></li>
                    <li>
                        <label>Species:
                            <InputRadioGroup Name="species" @bind-Value=data.Species>
                                @foreach (string species in speciesSelection)
                                {
                                    <label>@species<InputRadio Name="species" Value="@species"></InputRadio></label>
                                }
                            </InputRadioGroup>
                        </label>
                    </li>
                    <li><label>Body weight:<InputNumber @bind-Value="data.BodyWeight" min="0" max="200"></InputNumber></label>kg</li>
                    <li><ValidationMessage For="@(() => data.BodyWeight)" /></li>
                    <li><label>Name of diet to be fed:<InputText @bind-Value=data.DietName></InputText></label></li>
                    <li><ValidationMessage For="@(() => data.DietName)" /></li>
                    <li><label>Kcal per gram:<InputNumber @bind-Value=data.KcalPerG min="0" max="10"></InputNumber></label></li>
                    <li><ValidationMessage For="@(() => data.KcalPerG)" /></li>
                    <li><label>Net weight per container (g or ml):<InputNumber @bind-Value=data.DietNetWeight min="0" max="1000"></InputNumber></label></li>
                    <li><ValidationMessage For="@(() => data.DietNetWeight)" /></li>
                    <li><label>Moisture content (%):<InputNumber @bind-Value=data.DietWaterPercentage min="0" max="100"></InputNumber></label>%</li>
                    <li><ValidationMessage For="@(() => data.DietWaterPercentage)" /></li>
                    <li><label>Number of days to re-feed over (enter "1" if starting at full RER):<InputNumber @bind-Value=data.Days min="1" max="10"></InputNumber></label></li>
                    <li><ValidationMessage For="@(() => data.Days)" /></li>
                    <li><input type="submit" class="btn btn-primary" value="Calculate" disabled=@calculating /></li>
                </ul>
                <DataAnnotationsValidator />
            </EditForm>
        </div> *@
    }

    @if (calculated == true)
    {
        <button @onclick="Reset">Reset</button>

        <h3>Tube Feeding Instructions for @data.PatientName</h3>

        <p>Diet: <strong>@data.DietName</strong></p>

        @foreach (Volumes meal in calculatedVolumes)
        {
            <div id="day">
            <p><strong><u>Day: @meal.Day</u></strong></p>
            <p>Food per meal: <strong>@meal.FoodPerMeal g</strong></p>
            <p>Additional water per meal: <strong>@meal.WaterPerMeal ml</strong></p>
            <p>Meals per day: <strong>@meal.MealsPerDay</strong></p>
            <p>Estimated total food used per day: <strong>@meal.ContainersPerDay @ContainerText(meal)</strong></p>
            <p>Example feeding schedule: 
                @foreach (string time in meal.FormattedFeedingTimes)
                {
                    <span id="time">@time</span>
                }
            </p>
            </div>
        }

        <p>
            <strong>It is vital you follow the above feeding plan in order to prevent refeeding syndrome.</strong> Refeeding
            syndrome is a life-threatening condition caused by reintroducing food too rapidly after prolonged
            periods of not eating, which is why it must be done gradually over the first three days.
        </p>
        <p>
            You are free to adjust the times at which you feed your pet to suit you, but please spread them out as
            much as possible and allow a minimum of one hour between feeds to avoid overloading the stomach and
            causing regurgitation.
        </p>
        <p>
            Unless advised otherwise by your clinic, fresh water should remain available at all times and you
            should leave the calculated volume of food in your pet's normal bowl between feeds to allow the
            opportunity to eat unassisted. If it has all been eaten by the time of their next scheduled feed, offer
            a fresh bowl of food instead of tube feeding. Otherwise, draw up any remaining uneaten food into
            a syringe (or the same volume of fresh food if it's looking dry or stale). This is the volume of food
            you will need to administer to your pet this session.
        </p>
        <h3>Preparing the food</h3>
        <p>
            Prepare two syringes of tap water to flush the tube with before and after feeding. If your pet has not
            been drinking anything, you will also need to mix in additional water as listed in the feeding plan
            before drawing it up. If your pet has been offered food and eaten some but not all of it, draw the rest of it
            up into a syringe (or the same amount of fresh food if it's looking dry or stale). If your pet has not eaten
            anything at all since the last feed, you will need to draw up the full volume of food listed for this
            meal.
        </p>
        <p>
            Place the filled syringes into a jug of <strong>warm</strong> (not hot!) water until they reach body temperature. <strong>DO
            NOT MICROWAVE</strong>, as this can create pockets of hot liquid that may scald your pet.
        </p>
        <h3>Administering the food</h3>
        <p>
        <ol>
            <li>
                <strong><u>1.</u></strong> Pinch the feeding tube to prevent food from leaking out when you remove the cap. Attach an
                empty syringe to the feeding tube port, stop pinching, and gently draw back on the plunger. You
                should feel some resistance, and the plunger should return to its starting position when you let go
                of it. <strong>If this does not happen, it may mean the tube has become displaced. STOP immediately, and
                contact the clinic for advice.</strong>
            </li>
            <li>
                <strong><u>2.</u></strong> <strong>Slowly</strong> flush the feeding tube with water before administering any food.
                <strong>If your pet starts coughing, gagging, retching, or appearing uncomfortable while flushing, STOP immediately
                and contact the clinic for advice.</strong>
            </li>
            <li>
                <strong><u>3.</u></strong> Slowly administer the prepared volume of food through the tube. You may notice your pet
                swallowing as you do this. This is normal, as the food is being administered into the oesophagus
                rather than directly into the stomach. If they regurgitate, slow down the rate of administration. <strong>If
                regurgitation continues, stop feeding and contact the clinic for advice.</strong>
            </li>
            <li>
                <strong><u>4.</u></strong> Slowly flush the tube with water again to clear it of any residual food.
            </li>
            <li>
                <strong><u>5.</u></strong> Place the cap back on the feeding tube and wipe away any food from the outside of the tube
                with a clean, damp cloth. Ensure the outside of the tube is dry before tucking it away again. Rinse
                the used syringes with water to clean them ready for the next feed.
            </li>
            </ol>
        </p>
    }

</div>

@code {
    PatientDietData data = new();
    List<Volumes> calculatedVolumes = [];
    List<string> speciesSelection = ["cat", "dog"];
    int fractionRER;
    double flushVolume;

    bool calculating = false;
    bool calculated = false;

    private async Task ProcessData(EditContext editContext)
    {
        calculating = true;

        CalculateFractionRER();
        CalculateFlushVolume();

        flushVolume = data.BodyWeight switch
        {
            < 1.5 => 1,
            < 2 => 1.5,
            < 3 => 2,
            < 4 => 2.5,
            < 4.5 => 3,
            < 5 => 4,
            < 8 => 5,
            < 20 => 6,
            _ => 10,
        };

        @for (int day = 1; day < data.Days + 1; day++)
        {
            Volumes volumes = new(data, day);
            volumes.Calculate(fractionRER, flushVolume);
            calculatedVolumes.Add(volumes);
        }

        calculating = false;
        calculated = true;
    }

    private void Reset()
    {
        calculated = false;
        data = new();
    }

    private string ContainerText(Volumes meal)
    {
        string text = meal.ContainersPerDay switch
        {
            > 1 => " containers",
            1 => " container",
            _ => " of a container",
        };

        return text;
    }
    private void CalculateFractionRER()
    {
        fractionRER = 1 / data.Days; // Calculate the initial fraction of RER to meet
    }

    /*
     * Calculate the volume of water to flush the feeding tube with before and after each feed.
     * If bodyweight is greater than value, check next value. Return first value lower than bodyweight.
     */
    private void CalculateFlushVolume()
    {
        flushVolume = data.BodyWeight switch
        {
            < 1.5 => 1,
            < 2 => 1.5,
            < 3 => 2,
            < 4 => 2.5,
            < 4.5 => 3,
            < 5 => 4,
            < 8 => 5,
            < 20 => 6,
            _ => 10,
        };
    }
}