@page "/fluids"
@rendermode InteractiveServer

<PageTitle>Fluid Intake and Output</PageTitle>

<div class="main">

    @if (!calculated)
    {
        <h3>Fluid Intake and Output</h3>

        <EditForm Model="@data" OnValidSubmit=@ProcessData>
            <div class="tool-container">
                <DataAnnotationsValidator />
                <label class="flex-item">
                    <strong>Body weight (kg):</strong><br />
                    <InputNumber @bind-Value="data.BodyWeight" min="0" max="200" /> kg
                </label>
                <ValidationMessage For="@(() => data.BodyWeight)" class="flex-item" />
                <label class="flex-item">
                    <strong>Duration of monitoring period (hours):</strong><br />
                    <InputNumber @bind-Value="data.MonitoringDuration" min="0" max="72" />
                </label>
                <ValidationMessage For="@(() => data.MonitoringDuration)" class="flex-item" />
                <label class="flex-item">
                    <strong>IVFT rate (ml/kg/hr):</strong><br />
                    <InputNumber @bind-Value=data.IVFT min="0" max="100000" />
                </label>
                <ValidationMessage For="@(() => data.IVFT)" class="flex-item" />
                <label class="flex-item">
                    <strong>Oral water intake (ml):</strong><br />
                    <InputNumber @bind-Value=data.OralWater min="0" max="100000" />
                </label>
                <ValidationMessage For="@(() => data.OralWater)" class="flex-item" />
                <label class="flex-item">
                    <strong>Water intake (ml) from other sources (eg. flush, CRIs, liquid treats):</strong><br />
                    <InputNumber @bind-Value=data.OtherWater min="0" max="100000" />
                </label>
                <ValidationMessage For="@(() => data.OtherWater)" class="flex-item" />
                <label class="flex-item">
                    <strong>Moisture content of diet being fed (%):</strong><br />
                    <InputNumber @bind-Value=data.FoodMoistureContent min="0.1" max="99.9" />
                </label>
                <ValidationMessage For="@(() => data.FoodMoistureContent)" class="flex-item" />
                <label class="flex-item">
                    <strong>Volume of food eaten (g):</strong><br />
                    <InputNumber @bind-Value=data.AmountEaten min="0" max="100000" />
                </label>
                <ValidationMessage For="@(() => data.AmountEaten)" class="flex-item" />
                <label class="flex-item">
                    <strong>Urine output (ml):</strong><br />
                    <InputNumber @bind-Value=data.Urine min="0" max="100000" />
                </label>
                <ValidationMessage For="@(() => data.Urine)" class="flex-item" />
                <label class="flex-item">
                    <strong>Other fluid output (ml) (eg. thoracocentesis, hypersalivation, heavy wound exudate):</strong><br />
                    <InputNumber @bind-Value=data.OtherOutput min="0" max="100000" />
                </label>
                <ValidationMessage For="@(() => data.OtherOutput)" class="flex-item" />
                <label class="flex-item">
                    <strong>Number of incidences of diarrhoea (estimated at 4ml/kg per incidence):</strong><br />
                    <InputNumber @bind-Value=data.Diarrhoea min="0" max="1000" />
                </label>
                <ValidationMessage For="@(() => data.Diarrhoea)" class="flex-item" />
                <label class="flex-item">
                    <strong>Number of incidences of vomiting (estimated at 4ml/kg per incidence):</strong><br />
                    <InputNumber @bind-Value=data.Vomiting min="0" max="1000" />
                </label>
                <ValidationMessage For="@(() => data.Vomiting)" class="flex-item" />
            </div>
            <input type="submit" class="btn btn-primary" value="Calculate" disabled=@calculating />
        </EditForm>
    }
    else if (calculated)
    {
        <h3>Fluid Intake to Output Ratio</h3>

        <div class="tool-container">
            <p class="flex-item">Total fluid intake: <strong>@results.TotalIntake ml</strong></p>
            <p class="flex-item">Total fluid output: <strong>@results.TotalOutput ml</strong></p>
            <p class="flex-item">Difference in ml: <strong>@results.DifferenceMl ml</strong></p>
            <p class="flex-item">Difference as a percentage: <strong>@results.DifferencePercent %</strong></p>
        </div>
        <br />

        <button class="btn btn-primary" @onclick="Reset">Reset</button>

        <hr />
        <h3>Calculations</h3>

        <div class="tool-container">
            <p class="flex-item">Current body weight: <strong>@data.BodyWeight kg</strong></p>
        </div>

        <ul>
            <li><strong>Weight (kg) lost since last time</strong> = last weight (kg) - current weight (kg)</li>

            <li><strong>Moisture gained from food (ml)</strong> = diet moisture content (%) / 100 x amount eaten (g)</li>
            <li><strong>Diarrhoea output (ml)</strong> = 4ml x body weight (kg) x incidences of diarrhoea / hours of duration (maximum 200ml x body weight (kg) / 24 hours)</li>
            <li><strong>Vomit output (ml)</strong> = 4ml x body weight (kg) x incidences of vomiting / hours of duration</li>
            <li><strong>Total hourly fluid intake (ml)</strong> = (water drank (ml) + water from food (ml) + water from other sources (ml)) / duration of monitoring + IVFT ml/kg/hr</li>
            <li><strong>Total hourly fluid output (ml)</strong> = (urine (ml) + other fluid output (ml)) / duration of monitoring + diarrhoea (ml) + vomit (ml)</li>
            <li><strong>Difference (ml)</strong> = total intake (ml) - total output (ml)</li>
            <li><strong>Difference (%)</strong> = difference (ml) / total intake (ml) x 100</li>
        </ul>
    }

</div>

@code {
    FluidData data = new();
    FluidIntakeOutputCalculations results = new();

    bool calculating = false;
    bool calculated = false;

    private async Task ProcessData(EditContext editContext)
    {
        calculating = true;

        var model = editContext.Model as FluidData;

        results = new();
        results.UpdateData(data);
        results.Calculate();

        calculating = false;
        calculated = true;
    }

    private void Reset()
    {
        calculated = false;
        data = new();
    }
}