@page "/tubefeeding"
@rendermode InteractiveServer

<PageTitle>Tube Feeding Calculator</PageTitle>

<div class="main">

    @if (!calculated)
    {
        <p class="centre-text">
            <strong>This tool is intended for use by registered veterinary professionals ONLY.</strong>
        </p>
        <p>
            <strong>Please remember that you remain fully responsible for personally checking and verifying all information,
            calculations and numbers you use in the care of your patients.</strong> If you are NOT a registered veterinary
            professional, please close this page and seek advice from your veterinary clinic.
        </p>
        <p>
            Once you hit calculate, the tool will work out how much food and water to administer with each meal, how many
            meals will be needed per day, and a rough schedule for when to feed. It will then provide a basic client
            information handout, which you are free to use and adapt however you like. I have added a step-by-step breakdown
            showing how everything is calculated, including the nutrition and fluid formulae used, which you will find at
            the very bottom of the page along with the information you will enter here.
        </p>
        <br />
        <hr />

        <h3>Calculate Feeding Volumes</h3>

        <EditForm Model="@data" OnValidSubmit=@ProcessData>
            <div class="tool-container">
                <DataAnnotationsValidator />
                <label class="flex-item">
                    <strong>Species:</strong><br />
                    <InputRadioGroup Name="species" @bind-Value=data.Species>
                        @foreach (string species in speciesSelection)
                        {
                            <label class="radio-option">@species<InputRadio Name="species" Value="@species" /></label>
                        }
                    </InputRadioGroup>
                </label>
                <label class="flex-item">
                    <strong>Patient body weight:</strong><br />
                    <InputNumber @bind-Value="data.BodyWeight" min="0" max="200" />
                    kg
                </label>
                <ValidationMessage For="@(() => data.BodyWeight)" class="flex-item" />
                <label class="flex-item">
                    <strong>Name of diet to be fed:</strong><br />
                    <InputText @bind-Value=data.DietName />
                </label>
                <ValidationMessage For="@(() => data.DietName)" class="flex-item" />
                <label class="flex-item">
                    <strong>Kcal per gram:</strong><br />
                    <InputNumber @bind-Value=data.KcalPerG min="0" max="10" />
                </label>
                <ValidationMessage For="@(() => data.KcalPerG)" class="flex-item" />
                <label class="flex-item">
                    <strong>Net weight per container (g or ml):</strong><br />
                    <InputNumber @bind-Value=data.DietNetWeight min="0" max="1000" />
                </label>
                <ValidationMessage For="@(() => data.DietNetWeight)" class="flex-item" />
                <label class="flex-item">
                    <strong>Moisture content (%):</strong><br />
                    <InputNumber @bind-Value=data.DietWaterPercentage min="0" max="100" />
                    %
                </label>
                <ValidationMessage For="@(() => data.DietWaterPercentage)" class="flex-item" />
                <label class="flex-item">
                    <strong>Number of days to re-feed over (enter "1" if starting at full RER):</strong><br />
                    <InputNumber @bind-Value=data.Days min="1" max="10" />
                </label>
                <ValidationMessage For="@(() => data.Days)" class="flex-item" />
            </div>
            <input type="submit" class="btn btn-primary" value="Calculate" disabled=@calculating />
        </EditForm>
    }
    else if (calculated)
    {
        <h3>Tube Feeding Instructions</h3>
            
        <div>
            <p>Diet: <strong>@data.DietName</strong></p>
            <p>Water per flush: <strong>@data.FlushVolume ml</strong></p>
            <br />

            @foreach (Volumes meal in calculatedVolumes)
            {
                <div>
                    <p><strong><u>Day: @meal.Day</u></strong></p>
                    <p>Food per meal: <strong>@meal.FoodPerMeal g</strong></p>
                    <p>Additional water per meal: <strong>@meal.WaterPerMeal ml</strong></p>
                    <p>Meals per day: <strong>@meal.MealsPerDay</strong></p>
                    <p>Estimated total food used per day: <strong>@meal.ContainersPerDay @ContainerText(meal)</strong></p>
                    <p>
                        Example feeding time schedule: || 
                        @foreach (string time in meal.FormattedFeedingTimes)
                        {
                            <span id="time"><strong>@time</strong> || </span>
                        }
                    </p>
                    <br />
                </div>
            }
            <br />

            <p>
                <strong>It is vital you follow the above feeding plan in order to prevent refeeding syndrome.</strong> Refeeding
                syndrome is a life-threatening condition caused by reintroducing food too rapidly after prolonged
                periods of not eating, which is why it must be done gradually over the first three days.
            </p>
            <p>
                You are free to adjust the times at which you feed your pet to suit you, but please spread them out as
                much as possible and allow a minimum of one hour between feeds to avoid overloading the stomach and
                causing regurgitation.
            </p>
            <p>
                Unless advised otherwise by your clinic, fresh water should remain available at all times and you
                should leave the calculated volume of food in your pet's normal bowl between feeds to allow the
                opportunity to eat unassisted. If it has all been eaten by the time of their next scheduled feed, offer
                a fresh bowl of food instead of tube feeding. Otherwise, draw up any remaining uneaten food into
                a syringe (or the same volume of fresh food if it's looking dry or stale). This is the volume of food
                you will need to administer to your pet this session.
            </p>
            <br />

            <h4>Preparing the food</h4>
            <p>
                Prepare two syringes of tap water to flush the tube with before and after feeding. If your pet has not
                been drinking anything, you will also need to mix in additional water as listed in the feeding plan
                before drawing it up. If your pet has been offered food and eaten some but not all of it, draw the rest of it
                up into a syringe (or the same amount of fresh food if it's looking dry or stale). If your pet has not eaten
                anything at all since the last feed, you will need to prepare the full volume of food listed for this
                meal.
            </p>
            <p>
                Place the filled syringes into a jug of <strong>warm</strong> (not hot!) water until they reach body temperature.
                <strong>DO NOT MICROWAVE</strong>, as this can create pockets of hot liquid that may scald your pet.
            </p>
            <br />

            <h4>Administering the food</h4>
            <p>
                <ol>
                    <li>
                        <p>Pinch the feeding tube to prevent food from leaking out when you remove the cap. Attach an
                        empty syringe to the feeding tube port, stop pinching, and gently draw back on the plunger. You
                        should feel some resistance, and the plunger should return to its starting position when you let go
                        of it. <strong>If this does not happen, it may mean the tube has become displaced. STOP immediately, and
                        contact the clinic for advice.</strong></p>
                    </li>
                    <li>
                        <p><strong>Slowly</strong> flush the feeding tube with water before administering any food.
                        <strong>If your pet starts coughing, gagging, retching, or appearing uncomfortable while flushing, STOP immediately
                    and contact the clinic for advice.</strong></p>
                    </li>
                    <li>
                        <p>Slowly administer the prepared volume of food through the tube. You may notice your pet
                        swallowing as you do this. This is normal, as the food is being administered into the oesophagus
                        rather than directly into the stomach. If they regurgitate, slow down the rate of administration.
                        <strong>If regurgitation continues, stop feeding and contact the clinic for advice.</strong></p>
                    </li>
                    <li>
                        <p>Slowly flush the tube with water again to clear it of any residual food.</p>
                    </li>
                    <li>
                        <p>Place the cap back on the feeding tube and wipe away any food from the outside of the tube
                        with a clean, damp cloth. Ensure the outside of the tube is dry before tucking it away again. Rinse
                        the used syringes with water to clean them ready for the next feed.</p>
                    </li>
                </ol>
            </p>
        </div>
        <br />

    <button class="btn btn-primary" @onclick="Reset">Reset</button>

        <hr />
    <h3>Calculations</h3>

    <div class="centred-container">
        <p class="flex-item">Species: <strong>@data.Species</strong></p>
        <p class="flex-item">Body weight: <strong>@data.BodyWeight kg</strong></p>
        <p class="flex-item">Diet energy content: <strong>@data.KcalPerG kcal/g</strong></p>
        <p class="flex-item">Food per container: <strong>@data.DietNetWeight g</strong></p>
        <p class="flex-item">Diet moisture content: <strong>@data.DietWaterPercentage %</strong></p>
        <p class="flex-item">Number of days to increase feeds over: <strong>@data.Days</strong></p>
    </div>

    <ul>
        <li>
            <strong>Maximum ml per kg per meal</strong> =
            @foreach (Volumes meal in calculatedVolumes)
            {
                <span><br />@meal.MaxMlPerKg ml on day @meal.Day</span>
            }
        </li>

        <li><strong>RER (kcal)</strong> = 70 x body weight (kg) ^0.75</li>
        <li><strong>Kcal needed for day (if on reduced RER)</strong> = RER / number of days x current day number (eg. on day 2 out of 3 this would be RER / 3 x 2)</li>
        <li><strong>Food per day (g)</strong> = kcal for day / kcal per g of food (or full RER / kcal per g of food)</li>
        <li><strong>Water content of food per day (ml)</strong> = food per day (g) x (percentage water content of food / 100)</li>
        @if (data.Species == "Cat")
        {
            <li><strong>Additional water needed per day (ml)</strong> = (80 x body weight (kg) ^0.75) - water content of food (ml)</li>
        }
        else
        {
            <li><strong>Additional water needed per day (ml)</strong> = (132 x body weight (kg) ^0.75) - water content of food (ml)</li>
        }
        <li><strong>Total volume being administered per day (ml)</strong> = food per day (g) + additional water per day (ml)</li>
        <li><strong>Number of meals per day (rounded to the nearest whole number)</strong> = total volume per day (ml) / maximum volume per meal (ml)</li>
        <li><strong>Total volume per meal (ml)</strong> = total volume per day (ml) / meals per day</li>
        <li><strong>If total volume per meal exceeds the maximum at this point, meals per day are increased until it doesn't.</strong></li>
        <li><strong>Food per meal (g)</strong> = food per day (g) / meals per day</li>
        <li><strong>Water to add per meal (ml)</strong> = (water per day (ml) / meals per day) - (volume of flush (ml) x 2)</li>
        <li><strong>Containers of food used today</strong> = total food today (g) / net weight of food per container (g)</li>
    </ul>
    }

</div>

@code {
    PatientDietData data = new();
    List<Volumes> calculatedVolumes = [];
    List<string> speciesSelection = ["Cat", "Dog"];

    bool calculating = false;
    bool calculated = false;

    private async Task ProcessData(EditContext editContext)
    {
        calculating = true;

        var model = editContext.Model as PatientDietData;

        data.FlushVolume = data.BodyWeight switch
        {
            < 1.5 => 2,
            < 2 => 2.5,
            < 4 => 3,
            < 6 => 4,
            < 8 => 5,
            < 10 => 6,
            < 20 => 8,
            _ => 10,
        };

        @for (int day = 1; day < data.Days + 1; day++)
        {
            Volumes volumes = new(data, day);
            volumes.Calculate();
            calculatedVolumes.Add(volumes);
        }

        calculating = false;
        calculated = true;
    }

    private void Reset()
    {
        calculated = false;
        data = new();
        calculatedVolumes = [];
    }

    private string ContainerText(Volumes meal)
    {
        string text = meal.ContainersPerDay switch
        {
            > 1 => " containers",
            1 => " container",
            _ => " of a container",
        };

        return text;
    }
}