@page "/tubefeeding"
@rendermode InteractiveServer

<PageTitle>Tube Feeding Calculator</PageTitle>

<div class="main">

    @if (!calculated)
    {
        <h3>Generate Feeding Plan</h3>

        <EditForm Model="@data" OnValidSubmit=@ProcessData>
            <h4>Patient Information</h4>

            <p>
            <strong>This calculator is designed for euvolaemic adult cats and dogs who are either hospitalised or
            being rested at home. </strong> It bases nutrition on RER and doesn't account for life stage factors.
            </p>

            <div class="tool-container">
                <DataAnnotationsValidator />
                <label class="flex-item">
                    <strong>Species:</strong><br />
                    <InputRadioGroup Name="species" @bind-Value=data.Species>
                        @foreach (string item in speciesSelection)
                        {
                            <label class="radio-option">@item <InputRadio Name="species" Value="@item" /></label>
                        }
                    </InputRadioGroup>
                    <ValidationMessage For="@(() => data.Species)" />
                </label>

                <label class="flex-item">
                    <strong>Patient body weight:</strong><br />
                    <InputNumber @bind-Value="data.BodyWeight" min="0" max="200" />
                    kg
                    <ValidationMessage For="@(() => data.BodyWeight)" />
                </label>
            </div>

            <h4>Diet Information</h4>

            <p>
                If using a liquid diet, enter the kcal/ml and the volume in ml per container instead.
            </p>

            <div class="tool-container">
                <label class="flex-item">
                    <strong>Name:</strong><br />
                    <InputText @bind-Value=data.DietName />
                    <ValidationMessage For="@(() => data.DietName)" />
                </label>

                <label class="flex-item">
                    <strong>Kcal per gram:</strong><br />
                    <InputNumber @bind-Value=data.KcalPerG min="0" max="10" />
                    kcal/g
                    <ValidationMessage For="@(() => data.KcalPerG)" />
                </label>

                <label class="flex-item">
                    <strong>Net weight per container (g):</strong><br />
                    <InputNumber @bind-Value=data.DietNetWeight min="0" max="1000" />
                    g
                    <ValidationMessage For="@(() => data.DietNetWeight)" />
                </label>

                <label class="flex-item">
                    <strong>Moisture content (%):</strong><br />
                    <InputNumber @bind-Value=data.DietWaterPercentage min="0" max="100" />
                    %
                    <ValidationMessage For="@(() => data.DietWaterPercentage)" />
                </label>
            </div>

            <h4>Feeding Information</h4>

            <p>
                Choose "diluted" if you want to dilute the food with water before drawing it up, or "separate" if you want to
                administer food and water separately.
            </p>

            <div class="tool-container">
                <label class="flex-item">
                    <strong>Number of days to re-feed over (enter "1" if starting at full RER):</strong><br />
                    <InputNumber @bind-Value=data.Days min="1" max="10" />
                    <ValidationMessage For="@(() => data.Days)" />
                </label>

                <label class="flex-item">
                    <strong>Mix water into the food or administer separately?:</strong><br />
                    <InputRadioGroup Name="foodDilutedOrSeparate" @bind-Value=data.FoodDilutedOrSeparate>
                        @foreach (string item in foodDilutedOrSeparateSelection)
                        {
                            <label class="radio-option">@item <InputRadio Name="foodDilutedOrSeparate" Value="@item" /></label>
                        }
                    </InputRadioGroup>
                    <ValidationMessage For="@(() => data.FoodDilutedOrSeparate)" />
                </label>
            </div>
            <input type="submit" class="btn btn-primary" value="Calculate" disabled=@calculating />
        </EditForm>
    }
    else if (calculated)
    {
        <button class="btn btn-primary" @onclick="Reset">Reset</button>

        <h3>Tube Feeding Instructions</h3>
            
        <div>
            <p>Diet: <strong>@data.DietName</strong></p>
            <p>Water per flush: <strong>@data.FlushVolume ml</strong></p>
            <br />

            @foreach (Volumes meal in calculatedVolumes)
            {
                <div>
                    <p><strong><u>Day: @meal.Day</u></strong></p>
                    @if (meal.FoodDiluted)
                    {
                        <p>Volume per meal: <strong>@meal.FoodPerMeal ml</strong></p>
                        if (meal.WaterFoodDilutionRate > 0)
                        {
                            double tempExample = meal.WaterFoodDilutionRate * 10;
                            <p>Dilution rate: <strong>@meal.WaterFoodDilutionRate ml of water per gram of food</strong></p>
                        }
                    }

                    @if (!meal.FoodDiluted)
                    {
                        <p>Food per meal: <strong>@meal.FoodPerMeal ml</strong></p>
                        if (meal.WaterPerMeal > 0)
                        {
                            <p>Water per meal: <strong>@meal.WaterPerMeal ml</strong></p>
                        }
                    }
                    <p>Meals per day: <strong>@meal.MealsPerDay</strong></p>
                    <p>Estimated total food used per day: <strong>@meal.ContainersPerDay @FoodContainerText(meal)</strong></p>
                    <p>
                        Suggested feeding schedule: || 
                        @foreach (string time in meal.FormattedFeedingTimes)
                        {
                            <span id="time"><strong>@time</strong> || </span>
                        }
                    </p>
                    <br />
                </div>
            }
            <br />

            <p>
                <strong>It is vital you follow the above feeding plan in order to prevent refeeding syndrome.</strong> Refeeding
                syndrome is a life-threatening condition caused by reintroducing food too rapidly after prolonged
                periods of not eating, which is why it must be done gradually over the first three days.
            </p>
            <p>
                You are free to adjust the times at which you feed your pet to suit you, but please spread them out as
                much as possible and allow a minimum of one hour between feeds to avoid overloading the stomach and
                causing regurgitation.
            </p>
            <p>
                Unless advised otherwise by your clinic, fresh water should remain available at all times and you
                should leave the calculated volume of food in your pet's normal bowl between feeds to allow the
                opportunity to eat unassisted. If it has all been eaten by the time of their next scheduled feed, offer
                a fresh bowl of food instead of tube feeding.
            </p>
            <br />

            <h4>Preparing the food</h4>
            <p>
                Prepare two syringes of tap water to flush the tube with before and after feeding. If your pet has been
                offered food and eaten some but not all of it, draw the rest of it up into a syringe (or around the same volume
                of fresh food if it's looking dry or stale). This is all the food you will need to administer for this meal.
                If your pet has not eaten on their own, prepare the volume listed above.
            </p>
            @if (data.FoodDilutedOrSeparate == "Diluted")
            {
                <p>
                    If a dilution rate is provided in the instructions above, prepare a portion of food mixed with water at the
                    dilution rate specified. From this, draw up the volume to be administered into a separate syringe.
                </p>
            }
            else
            {
                <p>
                    If the instructions above specify a volume of water to administer in addition to food, either draw this up
                    in its own syringe to administer separately or add it to one of the syringes of water to be used for flush.
                    Draw up the specified volume of food into a syringe on its own.
                </p>
            }
            <p>
                Place the filled syringes into a jug of <strong>warm</strong> (not hot!) water until they reach body temperature.
                <strong>DO NOT MICROWAVE</strong>, as this can create pockets of hot liquid that may scald your pet.
            </p>
            <br />

            <h4>Administering the food</h4>
            <p>
                <ol>
                    <li>
                        <p>
                            Pinch the feeding tube to prevent food from leaking out or air from being sucked in when you remove the cap. Attach an
                        empty syringe to the feeding tube port, stop pinching, and gently draw back on the plunger. You
                        should feel some resistance, and the plunger should return to its starting position when you let go
                        of it. <strong>If this does not happen, it may mean the tube has become displaced. STOP immediately, and
                        contact the clinic for advice.</strong></p>
                    </li>
                    <li>
                        <p><strong>Slowly</strong> flush the feeding tube with water before administering any food.
                        <strong>If your pet starts coughing, gagging, retching, or appearing uncomfortable while flushing, STOP
                        immediately and contact the clinic for advice.</strong></p>
                    </li>
                    <li>
                        <p>Slowly administer the prepared volume of food through the tube. You may notice your pet
                        swallowing as you do this. This is normal, as the food is being administered into the oesophagus
                        rather than directly into the stomach. If they regurgitate, slow down even more.
                        <strong>If regurgitation continues, stop feeding and contact the clinic for advice.</strong></p>
                    </li>
                    <li>
                        <p>Slowly flush the tube with water again to clear any residual food.</p>
                    </li>
                    <li>
                        <p>Place the cap back on the feeding tube and wipe away any food from the outside of the tube
                        with a clean cloth. Ensure the outside of the tube is dry before tucking it away again. Rinse
                        the used syringes with water to clean them ready for the next feed.</p>
                    </li>
                </ol>
            </p>
        </div>
        <br />
    }

</div>

@code {
    PatientDietData data = new();
    List<Volumes> calculatedVolumes = [];
    List<string> speciesSelection = ["Cat", "Dog"];
    List<string> foodDilutedOrSeparateSelection = ["Diluted", "Separate"];

    bool calculating = false;
    bool calculated = false;

    private async Task ProcessData(EditContext editContext)
    {
        calculating = true;

        var model = editContext.Model as PatientDietData;

        data.FlushVolume = data.BodyWeight switch
        {
            < 1 => 1.5,
            < 1.5 => 2.5,
            < 2 => 2.5,
            < 3 => 3,
            < 5 => 4,
            < 10 => 5,
            _ => 10,
        };

        @for (int day = 1; day < data.Days + 1; day++)
        {
            Volumes volumes = new(data, day);
            volumes.Calculate();
            calculatedVolumes.Add(volumes);
        }

        calculating = false;
        calculated = true;
    }

    private void Reset()
    {
        calculated = false;
        data = new();
        calculatedVolumes = [];
    }

    private string FoodContainerText(Volumes meal)
    {
        string text = meal.ContainersPerDay switch
        {
            > 1 => " containers",
            1 => " container",
            _ => " of a container",
        };

        return text;
    }
}