@page "/weightclinics"
@rendermode InteractiveServer

<PageTitle>Weight Clinic Targets</PageTitle>

<div class="main">

    @if (!calculated)
    {
        <h3>Weight Loss Analysis</h3>

        <EditForm Model="@data" OnValidSubmit=@ProcessData>
            <div class="tool-container">
                <DataAnnotationsValidator />
                <label class="flex-item">
                    <strong>BCS out of 9:</strong><br />
                    <InputNumber @bind-Value=data.BCS min="6" max="9" />
                </label>
                <ValidationMessage For="@(() => data.BCS)" class="flex-item" />
                <label class="flex-item">
                    <strong>Current body weight (kg):</strong><br />
                    <InputNumber @bind-Value="data.CurrentBodyWeight" min="0" max="200" /> kg
                </label>
                <ValidationMessage For="@(() => data.CurrentBodyWeight)" class="flex-item" />
                <label class="flex-item">
                    <strong>Body weight at last weight check (kg):</strong><br />
                    <InputNumber @bind-Value="data.LastBodyWeight" min="0" max="200" /> kg
                </label>
                <ValidationMessage For="@(() => data.LastBodyWeight)" class="flex-item" />
                <label class="flex-item">
                    <strong>Number of weeks since last weight check:</strong><br />
                    <InputNumber @bind-Value=data.WeeksSinceLastWeighed min="0.1" max="52" />
                </label>
                <ValidationMessage For="@(() => data.WeeksSinceLastWeighed)" class="flex-item" />
                <label class="flex-item">
                    <strong>Number of weeks until next weight check:</strong><br />
                    <InputNumber @bind-Value=data.WeeksUntilNextWeighed min="0.1" max="52" />
                </label>
                <ValidationMessage For="@(() => data.WeeksUntilNextWeighed)" class="flex-item" />
            </div>
            <input type="submit" class="btn btn-primary" value="Calculate" disabled=@calculating />
        </EditForm>
    }
    else if (calculated)
    {
        <button class="btn btn-primary" @onclick="Reset">Reset</button>

        <h3>Weight Loss Analysis</h3>

        <div class="tool-container">
            <p class="flex-item">Percentage of body weight lost per week: <strong>@results.WeeklyPercentWeightLost %</strong></p>
            <p class="flex-item">Target weight for next time: <strong>@results.NextTargetWeight kg</strong></p>
            <p class="flex-item">Estimated ideal body weight (BCS 5/9): <strong>@results.IdealWeight kg</strong></p>
        </div>

        if (@results.WeeklyPercentWeightLost < 0.5)
        {
            <p>
                Less than 0.5% body weight loss per week may indicate the current weight loss plan is not effective enough.
                Consider reducing the amount fed until a target weekly weight loss of 0.5% - 1.5% is reached.
            </p>
        }
        if (@results.WeeklyPercentWeightLost > 1.5)
        {
            <p>
                More than 1.5% body weight loss per week could mean the current diet is not meeting the patient's nutritional needs.
                Consider increasing the amount fed until a target weekly weight loss of 0.5% - 1.5% is reached.
            </p>
        }

        <p>
            These targets are only estimates, and the calculated 'ideal' body weight may not be realistic for extremely overweight
            patients.
        </p>
    }

</div>

@code {
    WeightClinicData data = new();
    WeightCalculations results = new();

    bool calculating = false;
    bool calculated = false;

    private async Task ProcessData(EditContext editContext)
    {
        calculating = true;

        var model = editContext.Model as WeightClinicData;

        results = new();
        results.UpdateData(data);
        results.Calculate();

        calculating = false;
        calculated = true;
    }

    private void Reset()
    {
        calculated = false;
        data = new();
    }
}