@page "/calculator"
@rendermode InteractiveAuto

<PageTitle>Calculator</PageTitle>

<div class="main">

    @if (calculated == false)
    {
        <h1>Calculator</h1>
        <ul>
            <li><input @bind="newPatientName" /></li>
            <li><input type="radio" @bind="newSpecies" /> <label for="cat">Cat</label> <label for="dog">Dog</label></li>
            <li><input @bind="newBodyWeight" /></li>
            <li><input @bind="newDietName" /></li>
            <li><input @bind="newKcalPerG" /></li>
            <li><input @bind="newDietNetWeight" /></li>
            <li><input @bind="newDietWaterPercentage" /></li>
            <li><input @bind="newDays" /></li>
            <li><button @onclick="Calculate">Calculate</button></li>
        </ul>
    }

    @if (calculated == true)
    {
        <button @onclick="Reset">Reset</button>

        <h1>Tube Feeding Instructions for @data.PatientName</h1>

        <p>Diet: <strong>@data.DietName</strong></p>

        @foreach (Volumes meal in calculatedVolumes)
        {
            <div id="day">
            <p><strong><u>Day: @meal.Day</u></strong></p>
            <p>Food per meal: <strong>@meal.FoodPerMeal g</strong></p>
            <p>Additional water per meal: <strong>@meal.WaterPerMeal ml</strong></p>
            <p>Meals per day: <strong>@meal.MealsPerDay</strong></p>
            <p>Estimated total food used per day: <strong>@meal.ContainersPerDay @ContainerText(meal)</strong></p>
            <p>Example feeding schedule: 
                @foreach (string time in meal.FormattedFeedingTimes)
                {
                    <span>@time</span>
                }
            </p>
            </div>
        }

        <p>
            <strong>It is vital you follow the above feeding plan in order to prevent refeeding syndrome.</strong> Refeeding
            syndrome is a life-threatening condition caused by reintroducing food too rapidly after prolonged
            periods of not eating, which is why it must be done gradually over the first three days.
        </p>
        <p>
            You are free to adjust the times at which you feed te to suit you, but please spread them out as
            much as possible and allow a minimum of one hour between feeds to avoid overloading the
            stomach and causing regurgitation.
        </p>
        <p>
            Unless advised otherwise by your clinic, fresh water should remain available at all times and you
            should leave the calculated volume of food in te's normal bowl between feeds to allow the
            opportunity to eat unassisted. If it has all been eaten by the time of their next scheduled feed, offer
            a fresh bowl of food instead of tube feeding. Otherwise, draw up any remaining uneaten food into
            a syringe (or the same volume of fresh food if it's looking dry or stale). This is the volume of food
            you will need to administer to te this session.
        </p>
    }

</div>

@code {
    PatientDietData data = new();
    List<Volumes> calculatedVolumes = [];
    bool calculated = false;
    int newBodyWeight;
    bool newSpecies = true;
    int newDays;
    string newPatientName = "";
    string newDietName = "";
    double newKcalPerG;
    double newDietNetWeight;
    double newDietWaterPercentage;

    private void Calculate()
    {
        data = new()
        { 
            BodyWeight = newBodyWeight,
            Species = newSpecies,
            Days = newDays,
            PatientName = newPatientName,
            DietName = newDietName,
            KcalPerG = newKcalPerG,
            DietNetWeight = newDietNetWeight,
            DietWaterPercentage = newDietWaterPercentage
        };

        @for (int day = 1; day < data.Days + 1; day++)
        {
            Volumes volumes = new(data, day);
            volumes.Calculate();
            calculatedVolumes.Add(volumes);
        }

        calculated = true;
    }

    private void Reset()
    {
        calculated = false;
        data = new();
    }

    private string ContainerText(Volumes meal)
    {
        string text = meal.ContainersPerDay switch
        {
            > 1 => " containers",
            1 => " container",
            _ => " of a container",
        };

        return text;
    }
}